name: build-appimage-actions
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-latest
    steps:
      - name: build-appimage
        uses: actions/checkout@v2
        run: |
          wget https://github.com/AppImage/pkg2appimage/releases/download/continuous/pkg2appimage-1807-x86_64.AppImage
          chmod +x pkg2appimage-1807-x86_64.AppImage
          ./pkg2appimage-1807-x86_64.AppImage smath.yml
      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: |
            out/*AppImage
            
