name: build-appimage-actions
on: [push]
jobs:
  check-bats-version:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - name: Install mono
        run: sudo apt-get install libmono-system-windows-forms4.0-cil
      - name: build-appimage
        run: |
          ./create_and_build_smath_appimage.sh
      - name: Archive production artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: |
            out/*AppImage
